.song {
  border: 2px solid black;
  margin-bottom: 15px;
}

div.row div:nth-child(odd) div.song {
  background-color: #EECDD4;
}

div.row div:nth-child(even) div.song {
  background-color: #7CBFC0;
}

.song .song_data {
  padding: 0 10px 0 10px;
}

.add_song_link {
  text-align: right;
}

.music-symbol {
  position: absolute;
  font-size: 140px;
  top: -18px;
  right: 0px;
  color: white;
  opacity: 0.4;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}

.upvotes {
  font-size: 25px;
  float: right;
}

.upvoted {
  color: red;
}

#login_form {
  margin: 10px;
}

.reviews {
  margin-top: 10px;
}

.review {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

.review:nth-child(odd) {
  background-color: #EECDD4;
}

.review:nth-child(even) {
  background-color: #7CBFC0;
}

.review-remove {
  position: absolute;
  top: -5px;
  right: 0px;
  font-size: 20px;
}

.user_review_stars_container {
  position: absolute;
  bottom: 0px;
  right: 0px;
}