<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/music">LHL Music Wall</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/music/new"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a new song</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% unless logged_in? %>
        <li><a href="/user/new">Signup</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <form id="login_form" action="/user/login" method="post">
              <div class="form-group">
                <label for="login_username">Username: </label>
                <input class="form-control" id="login_username" type="text" name="username">
              </div>
              <div class="form-group">
                <label for="login_password">Password: </label>
                <input class="form-control" id="login_password" type="password" name="password">
              </div>
              <input type="submit" value="Login">
            </form>
          </ul>
        </li>
        <% else %>
        <li class="nav navbar-text">Welcome back <strong><%= current_user.username %></strong></li>
        <li><a href="/user/logout">Logout</a></li>
        <% end %>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>